.current-price-section {
   padding: 40px 0 50px;
}

.current-price {
  margin: 0 auto;
  width: 70%;
  height: 248px;
  padding: 32px;
  border-radius: 10px;
  background-color: rgb(253, 237, 212);
  text-transform: uppercase;
  transition: .5s;
}

.current-price .crypto-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-price h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.current-price img {
  width: 81px;
  margin: 32px 0;
}

.current-price .coin-price {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 28px;
}

.current-price .price-percentage-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.current-price .price {
  color: #4b5563;
}

.current-price .percentage-positive {
  color: #22c55e;
}

.current-price .percentage-negative {
  color: red;
}
