.selected-crypto {
  min-width: 350px;
  margin-left: 30px;
  position: relative;
}

.selected-crypto select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 0.675em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  outline: none;
}

.selected-crypto::before,
.selected-crypto::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.selected-crypto::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.selected-crypto::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

@media only screen and (max-width: 1024px) {
  .selected-crypto {
    min-width: 0;
    width: 35%;
  }
}

@media only screen and (max-width: 992px) {
  .selected-crypto {
    margin-left: 0;
    width: 30%;
  }
}

@media only screen and (max-width: 375px) {
  .selected-crypto select {
    padding: 10px;
    font-size: 15px;
  }
}
